.create_account {
  background-color: #f5f6fa;
}
.ca_wrapper {
  margin: auto;

  max-width: 500px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 48px 60px;
}
.ca_wrapper .caw_title {
  margin-bottom: 40px;
}
.ca_wrapper .caw_title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #131523;
  margin-bottom: 8px;
}
.ca_wrapper .caw_title p,
.caw_form .cawf_email label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5a607f;
}

.caw_form {
}
.caw_form .cawf_email {
  padding-bottom: 24px;
}
.caw_form .cawf_email label {
  display: block;
  text-align: start;
}
.caw_form .cawf_email input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #d9e1ec;
  border-radius: 4px;
}

.caw_createbtn {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 2px solid #d7dbec;
}
.caw_createbtn button {
  background-color: #1e2753;
  color: #fff;
  border: none;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  border-radius: 4px;
  margin-bottom: 24px;
}

.caw_socialLink {
}
.caw_socialLink p {
  margin-bottom: 24px;
}
.caw_socialLink .cs_google {
  border: 1px solid #d9e1ec;
  padding: 15px 0;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
}
.caw_socialLink .cs_google a {
  color: #1e5eff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
